ul li{
    position: relative;
}
ul li::after{
    position: absolute;
    content: "";
    height: 8%;
    width: 0%;
    background-color: white;
    transition: 0.5s;
    bottom: 0;
    left: 0;
}
ul li:hover::after{
    width: 100%;
}
.content{
    animation: 5s infinite move linear;
}

@keyframes move {
    25%{
        margin-top: -50px;
    }
    50%{
        margin-top: 0;
    }
    75%{
        margin-top: 50px;
    }
    100%{
        margin-top: 0;
    }
}
